name: Release

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]

jobs:
  build:
    uses: ./.github/workflows/Build.yml
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: MusicExpandedFramework
    - name: Set Environment Variables
      run: |
        echo "workshop_id=$(cat About/PublishedFileId.txt)" >> $GITHUB_ENV
        echo "mod_name=$(ls ..)" >> $GITHUB_ENV
    - name: Prepare for Distribution
      run: |
        echo '::echo::on'
        mkdir ${{ env.mod_name }}
        mv `ls -I ${{ env.mod_name }}` ${{ env.mod_name }}
        7z a ${{ env.mod_name }}.zip ${{ env.mod_name }}
        ls
    - name: Create Github Release
      uses: Hs1r1us/Release-AIO@v2.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
      with:
        release_name: Automated Release ${{ github.run_number }}
        tag_name: release/${{ github.run_number }}
        asset_files: ${{env.mod_name}}.zip
    - name: Create Workshop Release
      if: env.workshop_id
      uses: weilbyte/steam-workshop-upload@v1
      with: 
        appid: 294100 # Rimworld's Steam App ID
        itemid: ${{env.workshop_id}} # Your mod's Steam Workshop ID
        path: ${{env.mod_name}} # Path to your mod's folder from repository root
      env:
        STEAM_USERNAME: ${{ secrets.STEAM_USERNAME }} # Your Steam username
        STEAM_PASSWORD: ${{ secrets.STEAM_PASSWORD }} # Your Steam password
        #STEAM_TFASEED: ${{ secrets.STEAM_TFASEED }} # Your Steam Guard 2FA shared secret (Optional)